* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Verde Moderna";
    src: url("./images/verdemoderna.woff") format("woff");
}

@font-face {
    font-family: "Julius Sans One";
    src: url("./images/JuliusSansOne.woff2") format("woff2");
}

@font-face {
    font-family: "Libre Baskerville Normal";
    src: url("./images/Libre-Baskerville-normal.woff2") format("woff2");
}

@font-face {
    font-family: "Libre Baskerville Italic";
    src: url("./images/Libre-Baskerville-italic.woff2") format("woff2");
}

body {
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 1.98fr 1.02fr;
    grid-template-rows: 13px 1fr;
    background-image: url(./images/contours-opaque.png), url(./images/gridlines-opaque.png), url(./images/noise.png), url(./images/header-background.jpg);
    background-size: 10%, 15%, contain, cover;
    background-position: center, center, center, center;
    background-repeat: repeat, repeat, repeat, no-repeat;
    height: 310px;
}

.header-darkbar {
    background-color: rgba(0,0,0,.25);
    height: 13px;
    grid-column: 1/3;
    grid-row: 1;
    margin-bottom: 1vh;
    box-shadow: .5vh inset black;
}

.header-white-background {
    background-color: rgba(255,255,255, 0.1);
    grid-column: 1;
    grid-row: 2;
}

.header-left {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: ivory;
    margin-right: 115px;
    padding-bottom: 10px;

}

.title-container {
    text-align: left;
}

#titleImage {
    grid-column: 1;
    height: 125px;
    width: 125px;
    margin-right: 2.3vw;
}

.title {
    grid-column: 1;
    height: auto;
}

#title {
    font-family: Julius Sans One;
    font-weight: 400;
    font-size: 3.15vw;
    padding-bottom: .65vw;
}

#subtitle {
    font-family: Libre Baskerville Italic, sans-serif;
    color: rgba(255,255,255,0.6);
    font-size: 1.5em;
    font-weight: 300;
    font-stretch: condensed;
    letter-spacing: .03vw;
    padding-left: 5px;
}

#subtitle > span {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.header-right {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.view-all-container {
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    padding-right: 15px;
}

.designs-background {
    background-color: rgba(255, 255, 225, .15);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    opacity: .7;
    font-size: 1em;
}

#designs {
    width: 22.5vw;
    height: 4.75vw;
    font-size: 1em;
    font-family: Julius Sans One;
    font-weight: 400;
    margin-right: 1px;
}

#arrow {
    font-family: Verde Moderna;
    line-height: 118%;
    height: 4.75vw;
    width: 4.75vw;
    font-size: 2.7vw;
}


main {
    display: grid;
    grid-template-columns: 1.98fr 1.02fr;
    grid-template-rows: repeat(6, auto);
}

.designs-background:hover {
    opacity: 1;
}

.left {
    display: flex;
    flex-direction: column;
    padding-left: 9.8vw;
    padding-right: 5.48vw;
    color: #325050;
    font-family: Libre Baskerville Normal;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.01vw;
    line-height: 30px;
}

.top-left {
    grid-row: 1;
    grid-column: 1;
}

.main-elements {
    margin-bottom: 15px;
}

.top-left-h3 {
    margin-top: 10px;
}

.top-left-a {
    text-decoration: none;
    color: #a9b995;
    padding: 5px;
}

.top-left-a:hover {
    background-color: #0d8ba1;
    transition: background-color ease-in-out .2s;
}

.top-left-anchor-span {
    font-family: Verde Moderna;
    background: #d9e1cd;
} 

.top-main-elements {
    margin-top: 65px;
}

#topLeftSecondP {
    margin-bottom: 30px;
}

h3 {
    font-family: Julius Sans One;
    font-weight: 200;
    font-size: 2em;
    letter-spacing: .05vw;
}

.h3-needs-bottom-margins {
    margin-bottom: 20px;
}

.main-spans {
    text-decoration: underline dotted;
}

.right {
    background-color: #E5EDE8;
    font-family: Julius Sans One;
}

#topUL {
    list-style: none;
    padding-top: 70px;
}

ul a {
    text-decoration: none;
    color: inherit;
}

.top-right {
    grid-row: 1;
    grid-column: 2;
}

.top-right-li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: 5.5vw;
    margin-right: 10vw;
    border-bottom: solid 1px #d9e3dc;
}

.middle-right-li {
    margin-left: 5.5vw;
    margin-right: 10vw;
    margin-bottom: 25px;
    border-bottom: solid 1px gray;
    padding: 5px 0 30px 0;
}

#middle-first-li {
    border-top: solid 1px gray;
    padding-top: 30px;
}

#middleUL {
    margin-top: 120px;
    list-style: none;
    text-decoration: none;
}

#bottomLi {
    border: none;
}

.top-right-h4, .middle-a {
    color: #607476;
    font-weight: 100;
    font-size: 1.3em;
    margin-bottom: 6px;
    margin-top: 10px;
}
.top-right-h5 {
    font-family: Libre Baskerville Normal;
    color: #616857;
    font-size: .9em;
    font-weight: 200;
    margin-bottom: 10px;
}

.side-bar-authors {
    font-style: italic;
    color: #c0cac3;
}

.middle-left {
    grid-column: 1;
    grid-row: 2;
}

.middle-right {
    grid-column: 2;
    grid-row: 2;
    background-image: url(./images/contours-opaque.png);
    background-size: cover;
    background-color: rgba(138, 188, 159, 0.4);
    display: flex;
    flex-direction: column;
    /* padding: 100px 0 0 0; */
}

#middleBackground {
    grid-column: 1/-1;
    grid-row: 2;
    background-image: url(./images/bamboo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(138,188,159,0.5);
}

.bottom-left {
    grid-column: 1;
    grid-row: 3;
}

#benefitsP, #lastRequirementsP {
    margin-bottom: 65px;
}

.some-h3s-need-top-margins {
    margin-top: 10px;
}

.middle-bottom-anchors {
    text-decoration: none;
    color: #0d8ba1;
}

.middle-bottom-anchors:hover {
    transition: all 0.25s ease-out;
    text-decoration: underline;
    cursor: pointer;
}

.middle-bottom-anchors:visited {
    color: #1a5952;
}

.bottom-right {
    grid-column: 2;
    grid-row: 3;
}

footer {
    grid-column: 1/3;
    grid-row: 4/5;
    display: grid;
    grid-template-rows: repeat(2, auto);
}

#footerTop {
    height: 310px;
    grid-row: 1;
    background-image: url(./images/contours-opaque.png), url(./images/gridlines-opaque.png), url(./images/noise.png), url(./images/header-background.jpg);
    background-size: 10%, 15%, contain, cover;
    background-position: center, center, center, center;
    background-repeat: repeat, repeat, repeat, no-repeat;

}

#white-footer-top {
    background-color: rgba(255,255,255, 0.1);
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#white-footer-top a:hover {
    text-decoration: underline;
}

#footerBottom {
    height: 100px;
    background-color: #134347;
    grid-row: 2;
}

#footerP1, #footerP2 {
    font-family: Libre Baskerville italic;
    font-style: italic;
    font-size: 2em;
    padding: 0 130px;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.4);
}

#footerP span {
    padding-left: 30px;
}

#footerP1 a, #footerP2 a {
    font-family: Libre Baskerville normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

#footerP a:hover {
    text-decoration: underline;
}

#footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 37px 25vw;
}

.bottom-symbols {
    font-family: Verde Moderna;
    font-size: 4.4em;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
#foot1:hover::before {
    content: "%"
}

#foot1::before {
    content: "5"
}

#foot2:hover::before {
    content: "#"
}

#foot2::before {
    content: "3"
}

#foot3:hover::before {
    content: "C"
}

#foot3::before {
    content: "c"
}

#foot4:hover::before {
    content: "A"
}

#foot4::before {
    content: "a"
}

#foot5:hover::before {
    content: "G"
}

#foot5::before {
    content: "g"
}

@media only screen and (max-width: 1131px) {

    header {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr;
        height: 230px;    
    }

    .header-darkbar {
        grid-column: 1;
        grid-row: 1;
    }

    .header-white-background {
        grid-column: 1;
        grid-row: 1;
        padding-top: 13px;
    }

    .header-left {
        grid-row: 1;
        display: flex;
        justify-content: center;
        padding-left: 100px;
        padding-top: 20px;
    }

    .header-right {
        grid-column: 1;
    }

    #titleImage {
        grid-row: 1;
        height: 85px;
        width: 85px;
        padding-bottom: 50px;
        padding-left: 10px;
        opacity: 0.6;
    }

    #subtitle {
        padding-left: 30px;
        font-size: 1.2em;
    }

    #designs {
        width: 100%;
        margin-right: 0;
        height: 100%;
        font-size: .9em;
    }

    .designs-background {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 225, .3);
    }
    
    .view-all-container {
        width: 100%;
        padding-right: 0;
        height: 100%;
    }

    #arrow {
        height: 100%;
    }

    .left {
        padding-left: 9.8vw;
        padding-right: 120px;
        font-size: .8em;
        line-height: 27px;
    }
    
    .top-main-elements {
        margin-top: 27px;
    }

    .main-elements {
        margin-bottom: 6px;
    }
    

    h3 {
        font-size: 1.5em;
    }
    
    .right {
        display: grid
    }
    
    .top-left {
        grid-row: 1;
        grid-column: 1/3;
    }
    
    .top-right {
        grid-row: 5;
        grid-column: 1/3;
    }

    #topUL, #middleUL {
        padding-top: 10px;
        padding-left: 8vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin-top: 0px;
    }

    #middleUL {
        padding-top: 10px;
        padding-left: 8vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-top: 0px;
        background-image: url(./images/bamboo.png);
        background-size: cover;
        background-repeat: no-repeat;
    }


    .top-right-h4, .middle-a {
        font-size: 1em;
    }
    
    .top-right-h5 {
        font-size: .8em;
        margin-bottom: 0px;
    }
    
    .middle-right-li {
        margin-left: 5.5vw;
        margin-right: 10vw;
        margin-bottom: 0px;
        border-bottom: solid 1px gray;
        padding: 15px 0;
    }

    #middle-first-li {
        border-top: none;
        padding-top: 10px;
    }
    
    .middle-right {
        grid-column: 1/3;
        grid-row: 6;
    }

    #middleBottomLi {
        border-bottom: none;
    }

    .left-column {
        grid-column: 1;
    }

    .right-column {
        grid-column: 2;
    }

    .middle-left {
        grid-column: 1/3;
        grid-row: 2;
        color: black;
    }
    
    #benefitsP, #lastRequirementsP {
        margin-bottom: 30px;
    }
    

    .bottom-left {
        grid-column: 1/3;
        grid-row: 3;
    }

    .bottom-right {
        display: none;
        grid-column: 2;
        grid-row: 3;
    }
    

    footer {
        grid-column: 1/3;
        grid-row: 4;
    }
    
    #footerTop {
        height: 175px;    
    }

    #footerBottom {
        height: 50px;
        padding: 37px 15vw;
    }

    #footerP1, #footerP2 {
        font-family: Libre Baskerville italic;
        font-style: italic;
        font-size: calc(.3vw + 1em);
        padding: 0 10vw;
        line-height: 45px;
    }

    .bottom-symbols {
        font-size: 3em;
        padding: 0px 20px;
    }
    
    
}